USE [master]
GO
/****** Object:  Database [JT]    Script Date: 6/2/2025 8:49:20 AM ******/
CREATE DATABASE [JT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JT]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
 CONSTRAINT [categories_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](255) NOT NULL,
	[points] [bigint] NOT NULL,
	address nvarchar(255) not null,
	email nvarchar(255) not null,
 CONSTRAINT [customer_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[export_invoice]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[export_invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[discount] [float] NOT NULL,
	[total] [float] NOT NULL,
	[cust_Id] [int] NOT NULL,
	storage_id int not null,
	[created_by] [int] NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [export_invoice_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[export_item]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[export_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [bigint] NOT NULL,
    unit_price float Not null,
	[invoice_id] [int] NOT NULL,
 CONSTRAINT [invoice_item_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_invoice]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[total] [float] NOT NULL,
	storage_id int not null,
	[created_by] [int] NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [import_invoice_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_item]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	unit_price [float] not null,
	[quantity] [bigint] NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [import_item_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[storage_id] [int] NOT NULL,
	[quantity] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[product_id] [int] NOT NULL,
	[total_amount] [bigint] NOT NULL,
 CONSTRAINT [item_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NOT NULL,
	[descriptions] [nvarchar](255) NOT NULL,
	[cat_id] [int] NOT NULL,
 CONSTRAINT [product_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storage]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](255) NOT NULL,
	[updated_date] [datetime] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[code] [nvarchar](255) NOT NULL,
 CONSTRAINT [storage_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[storage_user]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[storage_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [storage_user_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](255) NOT NULL,
 CONSTRAINT [supplier_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 6/2/2025 8:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](255) NOT NULL,
	[last_name] [nvarchar](255) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[last_login] [datetime] NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[avatar] [nvarchar](255) NOT NULL,
	isAdmin bit not null,
	isActive bit default 0 not null,
 CONSTRAINT [sys_user_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[export_invoice]  WITH CHECK ADD  CONSTRAINT [export_invoice_cust_id_foreign] FOREIGN KEY([cust_Id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[export_invoice] CHECK CONSTRAINT [export_invoice_cust_id_foreign]
GO
ALTER TABLE [dbo].[export_invoice]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[sys_user] ([id])
GO
ALTER TABLE [dbo].[export_invoice]  WITH CHECK ADD CONSTRAINT [export_invoice_storage_id_foreign] FOREIGN KEY([storage_id])
REFERENCES [dbo].[storage] ([id])
GO
ALTER TABLE [dbo].[export_invoice] CHECK CONSTRAINT [export_invoice_storage_id_foreign]
GO
ALTER TABLE [dbo].[export_item]  WITH CHECK ADD CONSTRAINT [export_item_invoice_id_foreign] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[export_invoice] ([id])
GO
ALTER TABLE [dbo].[export_item] CHECK CONSTRAINT [export_item_invoice_id_foreign]
GO
ALTER TABLE [dbo].[export_item]  WITH CHECK ADD  CONSTRAINT [export_item_item_id_foreign] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([id])
GO
ALTER TABLE [dbo].[export_item] CHECK CONSTRAINT [export_item_item_id_foreign]
GO
ALTER TABLE [dbo].[import_invoice]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[sys_user] ([id])
GO
ALTER TABLE [dbo].[import_invoice]  WITH CHECK ADD CONSTRAINT [import_invoice_supplier_id_foreign] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([id])
GO
ALTER TABLE [dbo].[import_invoice] CHECK CONSTRAINT [import_invoice_supplier_id_foreign]
GO
ALTER TABLE [dbo].[import_invoice]  WITH CHECK ADD CONSTRAINT [import_invoice_storage_id_foreign] FOREIGN KEY([storage_id])
REFERENCES [dbo].[storage] ([id])
GO
ALTER TABLE [dbo].[import_invoice] CHECK CONSTRAINT [import_invoice_storage_id_foreign]
GO
ALTER TABLE [dbo].[import_item]  WITH CHECK ADD  CONSTRAINT [import_item_invoice_id_foreign] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[import_invoice] ([id])
GO
ALTER TABLE [dbo].[import_item] CHECK CONSTRAINT [import_item_invoice_id_foreign]
GO
ALTER TABLE [dbo].[import_item]  WITH CHECK ADD  CONSTRAINT [import_item_item_id_foreign] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([id])
GO
ALTER TABLE [dbo].[import_item] CHECK CONSTRAINT [import_item_item_id_foreign]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [item_product_id_foreign] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [item_product_id_foreign]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [item_storage_id_foreign] FOREIGN KEY([storage_id])
REFERENCES [dbo].[storage] ([id])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [item_storage_id_foreign]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [product_cat_id_foreign] FOREIGN KEY([cat_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [product_cat_id_foreign]
GO
ALTER TABLE [dbo].[storage_user]  WITH CHECK ADD  CONSTRAINT [storage_user_storage_id_foreign] FOREIGN KEY([storage_id])
REFERENCES [dbo].[storage] ([id])
GO
ALTER TABLE [dbo].[storage_user] CHECK CONSTRAINT [storage_user_storage_id_foreign]
GO
ALTER TABLE [dbo].[storage_user]  WITH CHECK ADD  CONSTRAINT [storage_user_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[sys_user] ([id])
GO
ALTER TABLE [dbo].[storage_user] CHECK CONSTRAINT [storage_user_user_id_foreign]
GO
USE [master]
GO

